@font-face {
    font-family: 'Aller_Lt';
    src: url(../font/Aller_Lt.ttf);
}

@font-face {
    font-family: 'Bebas';
    src: url(../font/BebasNeueBook.otf);
}

@font-face {
    font-family: 'Bebas_';
    src: url(../font/BebasNeueThin.otf);
}

@font-face {
    font-family: 'big_noodle';
    src: url(../font/big_noodle_titling.ttf);
}

@font-face {
    font-family: 'Colab';
    src: url(../font/ColabBol.otf);
}

@font-face {
    font-family: 'Colab_';
    src: url(../font/ColabLig.otf);
}

@font-face {
    font-family: 'Colab__';
    font-weight: 400;
    src: url(../font/ColabMed.otf);
}

@font-face {
    font-family: 'Glober_SemiBold_Free';
    src: url(../font/Glober_SemiBold_Free.otf);
}

@font-face {
    font-family: 'Helve';
    src: url(../font/Helvetica.dfont);
}

@font-face {
    font-family: 'Minecraft';
    src: url(../font/Minecraft.ttf);
}

@font-face {
    font-family: 'Nexa';
    src: url(../font/Nexa_Bold.otf);
}

@font-face {
    font-family: 'Nexa_';
    src: url(../font/Nexa_Light.otf);
}
@font-face {
    font-family: 'Sensation';
    src: url(../font/Sensation_Bold.ttf);
}

@font-face {
    font-family: 'Sensation_';
    src: url(../font/Sensation_Light.ttf);
}

@font-face {
    font-family: 'Sensation__';
    font-weight: 400;
    src: url(../font/Sensation_Regular.ttf);
}

@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);