// Estilos del footer
.footer{
    background: $blue_main;
    padding: 2rem 4rem;
    
    h2,h4,span{
        color: white;
    }
    
    h2,h4{
        margin: .25rem 0;
    }
    
    div:not(.container_btn_support){
        margin: 1rem 0;
    }
    
    h2{
        text-decoration: underline;
        font-size: 1.3rem;
    }
    
    h4{
        text-indent: 15px;
        font-size: 1rem;
    }
    
    span{
        font-size: .9rem;
    }
    
    img:not(.responsive-img),span{
        vertical-align: middle;
    }
    
    img:not(.responsive-img){
        width: 15px;
    }
    
    img.networs{
        width: auto;
        cursor: pointer;
        // @include transform( rotate( 0deg) );
        @include transition( transform .3s ease-in-out );
        
        &:hover,
        &:focus{
            @include transform( rotate( 360deg) );
        }
    }
    
    img[src*="local"]{
        width: 10px;
    }
    
    .networkers_content{
        text-align: center;
    }
}

// Estilos del pie del footer
.pfooter{
    background: #6DC9E2;
    padding: .7rem 0;
    text-align: center;
    color: white;
    font-size: .859rem;
    font-family: 'Nexa';
}