// Estilos del panel
.panel_left{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 38px;
    overflow: visible;
    margin: auto;
    top: 0;
    height: 93px;
    z-index: 10;
    @include perspective(100px);
    
    &.ready{
        ul{
            @include transform(rotatey(0deg));
        }
    }
    
    ul{
        background: $blue_main;
        @include transition( (background .5s ease-in-out, transform .25s cubic-bezier(0, 0.66, 0, 1.69)) );
        @include transform(rotatey(95deg));
        @include transform-origin(left center);
        
        li{
           @include flex( flex );
        } 
    }
    
    .icon{
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        padding: .35rem .35rem .05rem .35rem;
        @include perspective(100px);
        @include perspective-origin(21% -4%);
        
        img{
            display: inline-block;
            margin: 0 auto;
        }
        
        &:hover,
        &:focus{
            span{
                width: 85px;
                overflow: visible;
                padding-left: .7rem;
                opacity: 1;
                @include transform(rotatex(0));
            }
        }
        
        span{
            width: 0px;
            position: absolute;
            top: 0px;
            left: 98%;
            padding: .25rem .45rem .25rem;
            background: $blue_main;
            color: white;
            text-transform: uppercase;
            display: inline-block;
            font-family: 'big_noodle';
            height: 100%;
            opacity: 0;
            @include transition(( width .35s ease,background .5s ease-in-out,transform .5s .35s ease ));
            @include transform-origin(top center);
            @include transform(rotatex(-90deg));
        }
    }
    
    &.changed{
        ul{
            background: $red_main;
        }
        
        .icon{
            
            span{
                background: $red_main;
            }
        }
    }
}