<div class="content_home cases">
    <div class="row">
        <div class="col s12">
            <div class="title center" data-url>
                Nuestros <b>Casos</b> <img src="img/down.png">
            </div>
            <div class="content_cases">
                <div class="case">
                    <img src="img/torres_logo.png" class="image_case">
                    <div class="situation">
                        <p class="text">
                            Próxima a cumplir 40 años de existencia, esta gran empresa
                            de la ciudad de Manizales, ha asegurado la existencia de los
                            grandes educadores de Colombia, Venezuela y Ecuador. Sin
                            embargo su larga trayectoria también la convirtió en un 
                            riesgo competitivo, al llevar procesos,<br> y metodos de comunicación<br> convencionales.
                        </p>
                    </div>
                    <div class="strategy">
                        <p class="text">
                            Desarrollar canales modernos de comunicación para
                            los clientes y empleados, con el fin de optimizar<br> las
                            estrategias e identidad de la <br>empresa
                        </p>
                    </div>
                    <div class="result">
                        <p class="text">
                            Se conceptualizó la comunicación con el sitio web y redes sociales, también se implementó una intranet para mejorar la
                            comunicación y comercialización entre el personal y el departamento  de capacitación. Se centralizó la base de datos de los
                            clientes en un CRM que les permitiera tener información de primera mano y ser maás efectivo en el cierre de negocios y solicitudes.
                        </p>
                    </div>
                </div>
            </div>
            <div class="title center">
                Más <b>Historias</b> <img src="img/hearts.png" style="max-width: 35px">
            </div>
            
            <div class="owl-carousel">
              <div>
                  <img src="img/canguro.png" class="item_corusel">
              </div>
              <div>
                  <img src="img/clinica.png" class="item_corusel">
              </div>
              <div>
                  <img src="img/easynet.png" class="item_corusel">
              </div>
              <div>
                  <img src="img/telecafe.png" class="item_corusel">
              </div>
              <div>
                  <img src="img/torres.png" class="item_corusel">
              </div>
              <div>
                  <img src="img/wirk.png" class="item_corusel">
              </div>
            </div>
        </div>
    </div>
</div>