<div class="content_home cases">
    <div class="row">
        <div class="col m6 s12">
            <div class="video_intro">
                <iframe src="https://www.youtube.com/embed/u9zO9_-CJiQ?feature=oembed" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="container_btn_support price">
                <img src="img/dinero.png">
                <span>Realizar Cotización?</span>
            </div>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat.
                </p><br>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat.
                </p>
            </div>
            <div class="tip">
                <h1 class="title medium">Tu modelo de negocio</h1>
                <div class="content_tip">
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                            magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                            quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                            ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="image">
                        <img src=""></img>
                    </div>
                </div>
                <div class="buttons">
                    <div>
                        <img src="img/dinero.png">
                        <span>Sincroniza Tu Negocio</span>
                    </div>
                    <div>
                        <img src="img/dinero.png">
                        <span>Descarga Tu Cotización</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m6 s12">
            <h1 class="title">
                Implementación de <b>crm</b>
            </h1>
            <div class="description">
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                    magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                    ut aliquip ex ea commodo consequat. Duis autem vel eum iriure
                    dolor in hendrerit in vulputate velit esse molestie consequat,
                    vel illu.
                </p>
            </div>
        </div>
    </div>
</div>