<div class="row">
    <div class="col s12" style="background-color: white;">
        <div class="row">
            <div class="col l12 s12">
              <ul class="tabs">
                <li class="tab col s3"><a href="#engineering" class="active">Ingeniería</a></li>
                <li class="tab col s3"><a href="#advertising">Publicidad</a></li>
                <li class="tab col s3"><a href="#server_domains">Servidores y Dominios</a></li>
                <li class="tab col s3"><a href="#armed_packages">Paquetes armados</a></li>
              </ul>
              <fieldset class="content_tabs">
                <div id="engineering" class="col s12">
                    <div class="content_plan">
                        <div class="item">
                            <h1>Implementación de CRM</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="1">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Diseño sitio web básico</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="1">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Tienda en linea</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="1">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Diseño web profesional</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="1">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Aplicación movil</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="1">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Desarrollo de Software</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="1">Ver más...</a>
                        </div>
                    </div>
                </div>
                <div id="advertising" class="col s12">
                    <div class="content_plan">
                        <div class="item">
                            <h1>Administración de redes sociales</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="2">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Envio de correos masivos</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="2">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Envio de correos masivos</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="2">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Pauta en google</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="2">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Pauta en Facebook</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="2">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Pauta en Linkedin</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();" type="2">Ver más...</a>
                        </div>
                    </div>
                </div>
                <div id="server_domains" class="col s12">
                    <div class="content_plan">
                        <div class="item">
                            <h1>Dominios para sitios web</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Alojamiento para sitios web</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Correos Corporativos</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Servidores Virtualizados</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Servidores dedicados</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                    </div>
                </div>
                <div id="armed_packages" class="col s12">
                    <div class="content_plan">
                        <div class="item">
                            <h1>Plan 1</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Plan 2</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Plan 3</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Plan 4</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Plan 5</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                        <div class="item">
                            <h1>Plan 6</h1>
                            <img src="img/test_image.png" class="responsive-img">
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                                sed diam nonummy nibh euismod tincidunt ut laoreet dolore
                                magna aliquam erat volutpat.
                            </p>
                            <a href="javascript:void();">Ver más...</a>
                        </div>
                    </div>
                </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div id="modal_tipe_1" class="modal modal-fixed-footer">
    <div class="row">
        <div class="col m6">
            <h1 class="title">Implementación de <b>CRM</b></h1>
            <div class="description">
                <p>
                    EL Crm le permitirá tener el control del proceso de mercadeo de su organización indicadores de venta, rendimiento de su fuerza de venta y control posventa.
                </p>
            </div>
            <div class="content_plan_selection">
                <div class="input-field col s12">
                    <select>
                      <option value="" selected>Seleccione el paquete</option>
                      <option value="1">Paquete 1</option>
                      <option value="2">Paquete 2</option>
                      <option value="3">Paquete 3</option>
                      <option value="4">Paquete 4</option>
                    </select>
                </div>
            </div>
            <div class="plans">
                <p>
                  <input name="group1" type="radio" id="test1"/>
                  <label for="test1">Caracteristicas del servicio mostrado</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="test2" />
                  <label for="test2">Caracteristicas del servicio mostrado</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="test3" />
                  <label for="test3">Caracteristicas del servicio mostrado</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="test4" />
                  <label for="test4">Caracteristicas del servicio mostrado</label>
                </p>
                <p>
                  <input name="group1" type="radio" id="test5" />
                  <label for="test5">Caracteristicas del servicio mostrado</label>
                </p>
                <p><br>
                  <a href="#/cotizador">No esta lo que necesitas?</a>
                </p>
            </div>
        </div>
        <div class="col m6">
            <div class="container_img">
                <img src="img/test_image_big_xl.png" class="responsive-img">
            </div>
            <div class="container_btn_car">
                <button type="button" class="add_car">Agregar a la cesta <i class="material-icons" style="vertical-align: top;">shopping_cart</i></button>
            </div>
        </div>
    </div>
    <div class="status_item">
        <span><b>Aplicación Movil</b> 1 pago de $400.000 y 11 cuotas de $150.000</span>
    </div>
</div>

<div id="modal_tipe_2" class="modal modal-fixed-footer">
    <div class="row">
        <div class="col m6">
            <h1 class="title">Dominios para<b> Sitios Web</b></h1>
            <div class="description">
                <p>
                    EL Crm le permitirá tener el control del proceso de mercadeo de su organización indicadores de venta, rendimiento de su fuerza de venta y control posventa.
                </p>
            </div>
            <div class="content_plan_selection">
                <div class="input-field col s12">
                  <input id="search_domain" type="text" class="validate">
                  <label for="search_domain">Busque su Dominio...</label>
                </div>
            </div>
            <div class="plans">
                <div class="row">
                    <div class="col m2 s1">&nbsp;</div>
                    <div class="col m4 s4">
                        <span>.com</span><br>
                        <span>.com.co</span><br>
                        <span>.co</span><br>
                        <span>.org</span><br>
                        <span>.net</span>
                    </div>
                    <div class="col m1 s1">&nbsp;</div>
                    <div class="col m5 s6">
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box" />
                            <label for="filled-in-box">Agregar</label>
                        </p>
                        <p>
                            
                            <input type="checkbox" class="filled-in" id="filled-in-box-1" />
                            <label for="filled-in-box-1">Agregar</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box-2" />
                            <label for="filled-in-box-2">Agregar</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box-3" />
                            <label for="filled-in-box-3">Agregar</label>
                        </p>
                        <p>
                            <input type="checkbox" class="filled-in" id="filled-in-box-4" />
                            <label for="filled-in-box-4">Agregar</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m6">
            <div class="container_img">
                <img src="img/test_image_big_xl.png" class="responsive-img">
            </div>
            <div class="container_btn_car">
                <button type="button" class="add_car">Agregar a la cesta <i class="material-icons" style="vertical-align: top;">shopping_cart</i></button>
            </div>
        </div>
    </div>
    <div class="status_item">
        <span><b>Aplicación Movil</b> 1 pago de $400.000 y 11 cuotas de $150.000</span>
    </div>
</div>