<div class="content_home">
    <div class="message">
        <hgroup>
            <h3>CONSIGUE LA MEJOR PRESENCIA DIGITAL A TRAVÉS DE NUESTRA</h3>
            <h1>PÓLIZA DE <b>MEDIOS DIGITALES</b></h1>
            <h4>“CREEMOS EN LA MAGIA QUE TIENE EL INTERNET PARA ENAMORAR AL CONSUMIDOR” <em>Oscar David Ramírez, Ceo Zopp Group.</em></h4>
        </hgroup>
    </div>
    <div class="content_house">
        <img src="img/ave_arriba.png" class="bird big _1">
        <img src="img/ave_arriba.png" class="bird medium _2">
        <img src="img/ave_arriba.png" class="bird big _3">
        <img src="img/ave_arriba.png" class="bird big _4">
        
        <img src="img/house.png" class="responsive-img main-img">
        <img src="img/nube1.png" class="responsive-img cloud">
        <img src="img/nube2.png" class="responsive-img cloud last">
        <img src="img/nube_morning2.png" class="responsive-img cloud morning">
        <img src="img/nube_morning1.png" class="responsive-img cloud morning last">
        
        <img src="img/moon.png" class="responsive-img moon">
        <img src="img/star.png" class="responsive-img star">
        
        <img src="img/morning.png" class="responsive-img cloud morning_back">
        
        <div class="step _1">
            <h3 number="1">¿CUÁL ES LA SITUACIÓN?</h3>
            <p>Cuéntanos la necesidad detectada en la empresa y definamos los objetivos que nos llevarán juntos al éxito del proyecto (Departamento del Crecimiento).</p>
        </div>
        
        <div class="step _2">
            <h3 number="2">¿CÓMO LO VAMOS A LOGRAR?</h3>
            <p>Debemos conocer los hábitos de consumo que tiene tu cliente en internet, definir una estrategia digital y desarrollar unos requerimientos técnicos que nos permitan tener claridad y enfoque a la hora de ejecutarlo. (Departamento de Efectividad).</p>
        </div>
        
        <div class="step _3">
            <h3 number="3">¿QUÉ MEDIOS DIGITALES?</h3>
            <p>A lo mejor tu estrategia nos arroje que vamos a desarrollar un software
                web, con versión móvil para Android y Apple, 2 mini sitios, re diseño de la marca del producto y una campaña en Linkedin y Youtube. (Departamento de Efectividad).</p>
        </div>
        
        <div class="step _4">
            <h3 number="4">¡EMPECEMOS EL PLAN!</h3>
            <p>Nuestro director de proyecto sincronizará el equipo para iniciar con la programación y el diseño para garantizar un cronograma e indicadores perfectos (Departamento de la eficiencia).</p>
        </div>
        
        <div class="step _5">
            <h3 number="5">MIDIENDO Y CONTROLANDO</h3>
            <p>Periódicamente revisamos los avances del proyecto, cumplimento de objetivos e impacto conseguido con nuestro plan de Póliza de medios digitales.<br>
                ¿Te interesa nuestra Póliza? Contáctanos y empecemos juntos un caso de éxito.
            </p>
        </div>
        
        <!--<img src="img/sheet.png" class="sheet"></img>-->
        
    </div>
</div>