<div class="content_home we">
    <div class="row we">
        <div class="col s12">
            <h1 class="title center">
                <b>NOSOTROS</b>
            </h1>
            <div class="row">
                <div class="col m4">
                    <img src="img/love_zopp.png" class="responsive-img" alt="Agencia de Soluciones Digitales zopp">
                </div>
                <div class="col m8 content_cites">
                    <p class="text">
                        En zopp creemos en la magia que tiene el internet para enamorar al
                        consumidor, analizamos el comportamiento y realizamos aplicaciones 
                        web, móviles y estrategías en medios digitales para vender tu marca
                        en este mundo mágico.
                    </p>
                    <div class="cite">
                        <p class="text">
                            No nos interesa ser una más de las tantas; nuestra meta está en ser la mejor agencia digital del país
                        </p>
                    </div>
                    <div class="cite">
                        <p class="text">
                            Nuestro negocio esta diseñado para maximizar el presupuesto de tu departamento de mercadeo.
                        </p>
                    </div>
                    <div class="cite">
                        <p class="text">
                            Centralizamos toda la operación digital de tu empresa en nuestra casa, Zopp.
                        </p>
                        <ul>
                            <li>Desarrollo de Software</li>
                            <li>Estrategias Publicitarias</li>
                            <li>Promoción en Medios Digitales</li>
                        </ul>
                    </div>
                </div>
            </div>
            <h1 class="title center">
                EQUIPO DE <b>TRABAJO</b>
            </h1>
            <img src="img/nosotros_2.png" class="responsive-img">
        </div>
    </div>
</div>