<div class="content_home wemake">
    <div class="row">
        <div class="col s12">
            <h1 class="title center">
                LO QUE <b>HACEMOS</b>
            </h1>
            <p class="center">
                CREAMOS NEGOCIOS EN INTERNET A TRAVÉS DE DESARROLLO DE SOFTWARE Y ESTRATEGÍAS DIGITALES
            </p>
            <div class="content_widgets">
                <div class="row_widgets">
                    <div class="widget software_developer" tabindex="1" url="#!/lo-que-hacemos/desarrollo-de-software">
                        <span>
                            <b>Desarrollo</b>
                            de software
                        </span>
                    </div>
                    <div class="widget webs_design" tabindex="2"  url="#!/lo-que-hacemos/diseno-de-sitios-web">
                        <span>
                            <b>Diseño de</b>
                            sitios web
                        </span>
                    </div>
                    <div class="widget admin_networkings" tabindex="3"  url="#!/lo-que-hacemos/adminstracion-de-redes-sociales">
                        <span>
                            <b>Administración de</b>
                            redes sociales
                        </span>
                    </div>
                </div>
                <div class="row_widgets">
                    <div class="column_widgets half">
                        <div class="wall column">
                            <div class="widget implements_crm" tabindex="4"  url="#!/lo-que-hacemos/implementacion-de-crm">
                                <span>
                                    <b>Implementación</b>
                                    <b>de</b>
                                    <em>CRM</em>
                                </span>
                            </div>
                        </div>
                        <div class="wall column">
                            <div class="widget send_emails" tabindex="5"  url="#!/lo-que-hacemos/envio-de-correos-masivos">
                                <span>
                                    <b>Envió de</b>
                                    correos masivos
                                </span>
                            </div>
                            <div class="widget send_messages" tabindex="6"  url="#!/lo-que-hacemos/envio-de-mensajes-de-texto">
                                <span>
                                    <b>Envió de</b>
                                    mensajes de texto
                                </span>
                            </div>
                        </div>
                        <div class="wall">
                            <div class="widget digital_strategies" tabindex="7"  url="#!/lo-que-hacemos/desarrollo-de-estrategias-publicitarias">
                                <span>
                                    <b>Desarrollo de</b>
                                    estrategias publicitarias
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column_widgets half">
                        <div class="wall">
                            <div class="widget design_mark" tabindex="8"  url="#!/lo-que-hacemos/diseno-de-marcas-y-contruccion-de-interfaces-para-aplicaciones-web">
                            <span>
                                <b>Diseño de Marcas y</b>
                                <b>contrucción de Interfaces</b>
                                para aplicaciones
                                <b>Web</b>
                            </span>
                        </div>
                        </div>
                        <div class="wall column">
                            <div class="widget online_stores" tabindex="9"  url="#!/lo-que-hacemos/tiendas-en-linea">
                                <span>
                                    <b>Tiendas en</b>
                                    línea
                                </span>
                            </div>
                        </div>
                        <div class="wall column">
                            <div class="widget apps_developer" tabindex="10"  url="#!/lo-que-hacemos/desarrollo-de-aplicaciones-moviles-apps">
                                <span>
                                    <b>Desarrollo de Aplicaciones</b>
                                    móviles APPs
                                </span>
                            </div>
                            <div class="widget internet_paute" tabindex="11"  url="#!/lo-que-hacemos/pauta-en-internet">
                                <span>
                                    <b>Pauta en</b>
                                    Internet
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row_widgets">
                    <div class="widget digital_media_police" tabindex="1" url="#!/lo-que-hacemos/poliza-de-medios-digitales">
                        <span>
                            <b>Póliza de </b>
                            Medios Digitales
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>